{% extends "index.html" %} {% block content %}
<div class="container-fluid">
  <div class="section-title" style="background-color: rgb(169, 197, 230)">
    <span>About</span>
  </div>

  <div class="p-2 my-3 text-left" style="background-color: rgb(230, 206, 169)">
    <div><b>Executive Summary</b></div>
  </div>

  <div class="container-fluid text-left">
    <p>
      In recent years, the UMD campus in College Park has seen a rise in days with excessive heat as a result of climate
      change. Average heat wave seasons in the United States are around 49 days longer than they were in the 1960s (EPA,
      2023). In August 2023, Prince George’s County had the third highest heat-related illness complaints compared to
      other counties in Maryland (Office of Preparedness and Response, 2023, p. 3).
    </p>
    <p>
      College Park has seen a significant increase in the severity of hot weather over the past 30 years. The impact
      College Park is facing is shown through the city’s heat index, which assesses the feel of weather based on air
      temperature and humidity. Health caution days are defined by the National Weather Service as days where the heat
      index exceeds 90℉ (Risk Factor, n.d.). Relative to the same period 30 years ago, College Park now sees 16 more
      health caution days per year, for a total of 58 days. Thirty years from now, research predicts that the city will
      experience 76 health caution days in a year (Risk Factor, n.d.).
    </p>
    <p>
      According to Maryland’s Weekly Heat Report, complaints from heat-related illnesses primarily come from people aged
      18 to 44 (Office of Preparedness and Response, 2023, p. 2). The median age of undergraduate students on campus is
      21 years old, and the median age of graduate students is 26 years old (USM Institutional Research Information
      System, 2022). With a majority of people on UMD’s campus within the 18 to 44 age group, excessive heat is a
      pressing issue for the UMD population.
    </p>
    <p>
      Excessive heat also impacts energy expenditure, outdoor activities, and campus operations. UMD’s administration is
      seeking guidance on how to effectively balance cost and campus well-being. After speaking with UMD administrators,
      we understand that the cost of shutting the campus down for 24 hours is nearly $1 million.
    </p>
    <p>
      Project H1 involves the creation of a decision matrix that outlines specific instructions for different categories
      of operations at varying temperature thresholds. The matrix includes information on how UMD can best protect the
      health and safety of individuals on UMD’s campus during instances of excessive heat. The purpose of the project is
      to improve UMD’s administration’s ability to respond quickly, effectively, and knowledgeably to extremely hot
      weather. While the matrix will serve as a guideline for administration, outlining potential solutions and
      associated consequences, it is not meant to make decisions for President Pines.
    </p>
    <p>
      Additionally, as part of the project, our team has suggested a cost-effective heat emergency preparedness kit to
      aid in keeping members of our campus community cool and safe despite soaring temperatures. Project H1 aims to
      maintain campus activities during increasingly hot days and reduce the negative impacts of heat on our community.
    </p>
    <p>
      Continuing to create plans to prepare for environmental emergencies is a critical step towards maintaining safe
      and healthy college communities. With the advent of climate change and consequent environmental issues, staying
      ahead of harmful impacts is paramount at campuses across the United States.
    </p>
  </div>

  <div class="p-2 my-3 text-left" style="background-color: rgb(230, 206, 169)">
    <div><b>Meet the Team</b></div>
  </div>

  <div class="container-fluid text-left">
    <div class="row">
      <div class="col-auto">
        <img src="{{url_for('static', filename='IMG_5841.jpg')}}" class="rounded mx-auto d-block" width="300" />
      </div>
      <div class="col">
        <div class="p-1" style="background-color: rgb(240, 183, 98)">
          <span><b>Bridgette Kooyman</b></span>
        </div>
        <p>
          Bridgette first graduated UMD in 2018 with a bachelors degree in both Criminal Justice and Psychology. She
          went on to graduate in 2024 with another bachelors degree in Civil Engineering on the structural and
          geotechnical track. She has completed two internships: one as a field engineer for Whiting Turner and the
          other as a geotechnical engineer for ECS Limited. She is currently working for RK&K as a highway engineer and
          plans to attend gradutate school in a few years to get her MBA.
        </p>

        <div class="p-1" style="background-color: rgb(240, 183, 98)">
          <span><b>Manav Patel</b></span>
        </div>
        <p>
          Manav graduated in 2024 majoring in Civil Engineering with a concentration in Envinronmental and Wateer
          Resrources. After graduation, he is joing Bayland's Consultants & Designers Inc. to work with their Marine
          Eningeering team.
        </p>

        <div class="p-1" style="background-color: rgb(240, 183, 98)">
          <span><b>Ilanit Sedek</b></span>
        </div>
        <p>
          Ilanit Sedek graduated from the University of Maryland in 2024 with a B.S. in Civil Engineering on the
          Transportation Project Management Track. Following graduation, she is attending George Washington University's
          Post-Baccalaureate Pre-Medical program.
        </p>

        <div class="p-1" style="background-color: rgb(240, 183, 98)">
          <span><b>Matthew Lawrenz</b></span>
        </div>
        <p>
          Matthew Lawrenz graduated from University of Maryland in 2024. He has a specialization in structural
          engineering and expertise in civil and site engineering design.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
