{% extends "index.html" %} {% block content %}
<div class="container-fluid">
  <div class="section-title extreme-color">
    <span>Extreme Risk</span>
  </div>

  <div class="section-description" style="background-color: rgb(207, 160, 209)">
    <div>
      <b>Triggers:</b>
      <div class="ps-4">
        <li>
          NWS issued Excessive Heat Warning or are likely to be in an Excessive Heat Warning within the next 0.5-2 days
        </li>
        <li>Extreme Heat weather anticipated to continue for multiple days</li>
      </div>
    </div>
    <div><b>Heat Index Range:</b> 125-140</div>
    <div>
      <b>Health Implications:</b> Heatstroke/sunstroke is highly likely with continued exposure. This is a multi-day
      heat event
    </div>
  </div>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button
          class="accordion-button"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseOne"
        >
          General Guidance for Supervisors and Departments
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>
            Download Interactive National Weather Service (iNWS) mobile application. It will send you customized text
            messages and e-mail alerts in the case of excessive heat warning, watch, advisory, and outlook.
          </li>
          <li>Download the OSHA Heat Index Mobile app for additional recommendations and monitoring.</li>
          <li>Download the OSHA-NIOSH Heat Safety Tool application to monitor heat indices.</li>
          <li>Ensure employees are trained on heat stress and prevention measures.</li>
          <li>Contact UMD Health Center and safety professionals for heat stress training.</li>
          <li>Reduce workloads and physical demands of employees.</li>
          <li>Provide supplemental cooling, fans, or cooling garments.</li>
          <li>Ensure cool water is always readily and easily available.</li>
          <li>Monitor employees regularly for heat stress symptoms.</li>
          <li>Departments must implement their heat illness prevention plan.</li>
          <li>Assign alternate work sites and/or duties to essential employees.</li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseTwo"
        >
          General Guidance for Employees
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTwo"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>
            Sign up to receive notifications about building closures and outages by emailing workassignment-crc@umd.edu
            with the building names you are interested in.
          </li>
          <li>Follow all requirements and guidance by supervisor/department.</li>
          <li>Consult with a healthcare provider about any personal or special risks related to heat.</li>
          <li>Report any heat-related symptoms to supervisor/department and seek medical attention if needed.</li>
          <li>Take breaks as offered and suggested by the supervisor/department</li>
          <li>Check email and department websites for potential changes to schedules.</li>
          <li>Sign up for UMD Alert messages for potential closures or adjustments to campus schedules.</li>
          <li>
            Follow instructions outlined by supervisor/ department
            <a href="https://essr.umd.edu/about/occupational-safety-health/heat-safety-workplace">ESSR "Heat Safety"</a>
          </li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThree"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThree"
        >
          General Guidance for Students
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingThree"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>
            Sign up to receive notifications about building closures and outages by emailing workassignment-crc@umd.edu
            with the building names you are interested in.
          </li>
          <li>Take frequent water breaks.</li>
          <li>Follow all requirements and guidance provided by professors and administration.</li>
          <li>Consult with a healthcare provider about any personal or special risks related to heat.</li>
          <li>Report any heat-related symptoms to UMD Health Center and/or other healthcare providers.</li>
          <li>Take breaks as offered and suggested by instructors, event staff, etc.</li>
          <li>Check email and department websites for potential changes to schedules.</li>
          <li>Reduce caffeine intake, alcoholic beverages, and drinks that are high in sugar.</li>
          <li>Limit outdoor exposure to walking to and from classes, activities, and/or on-campus appointments.</li>
          <li>Monitor friends, classmates, and peers for signs of heat exhaustion and heat stroke.</li>
          <li>
            Apply sunscreen above 50 SPF regularly and wear loose, light-weight, light-colored clothing, and hats that
            shade your face.
          </li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFour">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFour"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFour"
        >
          Administration
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFour"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>
            Download Interactive National Weather Service (iNWS) mobile application. It will send you customized text
            messages and e-mail alerts in the case of excessive heat warning, watch, advisory, and outlook
          </li>
          <li>Download the OSHA Heat Index Mobile app for additional recommendations and monitoring.</li>
          <li>
            Send out campus-wide messages about proper hydration, wearing light-weight, light-colored, loose-fitting
            clothing, and heat-protection measures. This heat can be deadly without adequate cooling and hydration.
          </li>
          <li>Campus-wide alert system to issue extreme heat warning.</li>
          <li>
            Close any building that cannot maintain a temperature threshold of 76 degrees Fahrenheit and ensure cooling
            centers on campus can maintain a temperature between 64 to 76 degrees Fahrenheit.
          </li>
          <li>Tell department heads to implement all measures under the extreme risk category.</li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFive">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFive"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFive"
        >
          Academics
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFive"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>Direct department heads to monitor staff and implement department's Emergency Operation Plan (EOP).</li>
          <li>
            Non-essential employees, except those on previously approved leave, are to be considered to be on
            Administrative Leave.
          </li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingSix">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseSix"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseSix"
        >
          Health Care Services
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseSix"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingSix"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>Consider providing sunscreen and icepacks to employees and students as requested.</li>
          <li>Provide information to students and employees on signs of heat-related illness as requested.</li>
          <li>Bring additional staff on-site to meet increased demand.</li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseSeven"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseSeven"
        >
          Facilities Management
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseSeven"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingSeven"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>Ensure chillers and cooling equipment can handle current heat index.</li>
          <li>24/7 crew available to monitor and operate HVAC systems.</li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingEight">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseEight"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseEight"
        >
          Housing
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseEight"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingEight"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>
            Educate residents on effective energy usage. Stand-alone AC units are extremely inefficient, so usage should
            be reduced. Turn off lights, encourage hybrid work, use fans instead of AC, and recommend keeping the
            thermostat slightly higher than comfortable.
          </li>
          <li>Provide beds in air-conditioned lounges of non-airconditioned dorms for students to use.</li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingNine">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseNine"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseNine"
        >
          Dining
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseNine"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingNine"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>
            Reduce hot food options in dining halls, as hot food can increase body temperature. Provide more cold food
            options.
          </li>
          <li>Encourage students to eat smaller, but more frequent meals.</li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTen">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTen"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseTen"
        >
          Outdoor Workers
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseTen"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTen"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>Essential employees to follow all minor, moderate, and major risk level recommendations.</li>
          <li>Non-essential employees dismissed from work for the day on Administrative leave.</li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingEleven">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseEleven"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseEleven"
        >
          RecWell (Indoor/Outdoor Recreation)
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseEleven"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingEleven"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>Close recreation facilities.</li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwelve">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwelve"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseTwelve"
        >
          Events (Indoor/Outdoor Events)
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseTwelve"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTweleve"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>
            Move all outdoor events to indoors or cancel them. If events are moved indoors, ensure they are moved to
            well-ventilated, air-conditioned areas
          </li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThirteen">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThirteen"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThirteen"
        >
          Athletics
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseThirteen"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingThirteen"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>Follow heat acclimatization protocols listed by NCAA for the first 7-14 days of practice.</li>
          <li>Post CDC heat-related illness information around facilities.</li>
          <li>Proceed with extra caution if during an acclimatization period.</li>
          <li>Move practices to before 10am or after 5pm if during the acclimatization period.</li>
          <li>
            Athletes should drink 2+ cups of water and/or sports drinks in the hour before competition/practice. Sports
            drinks should contain no more than 6-8% of carbohydrates and electrolytes to enhance fluid consumption.
          </li>
          <li>Drink water/fluids every 15-20 minutes through practices and competitions.</li>
          <li>
            Access to heat stress monitor, rectal thermometer, and cold water immersion tub should be easily accessible.
          </li>
          <li>Move practice to before 10am or after 5pm or indoors.</li>
          <li>
            Athletes should report dark urine, rapid weight loss, or weight gain during practice/competition to athletic
            staff.
          </li>
          <li>
            Student-athletes' weights should be recorded before and after every workout, practice, and competition to
            detect progressive dehydration and loss of body fluids.
          </li>
          <li>Cancel practice if it cannot be moved indoors.</li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFourteen">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFourteen"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFourteen"
        >
          Research
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseFourteen"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFourteen"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>
            Implement basic health and safety planning to provide general awareness and reminders about the potential
            for heat stress and preventive measures.
          </li>
          <li>Ensure that employees are trained on heat stress symptoms and prevention measures.</li>
          <li>Recommend wearing lightweight and light-colored clothing.</li>
          <li>Drink water or other cool fluids regularly.</li>
          <li>
            Contact health and safety professionals to determine if job safety analysis should be performed to
            change/lessen physical activity, time spent working, or other prevention measures.
          </li>
          <li>
            Increase preventive steps in anticipation of warmer temperatures including reminders about staying hydrated,
            taking breaks, and watching for signs of heat-related illness.
          </li>
          <li>Provide ample time for breaks and access to cool, shaded places to take them.</li>
          <li>Ensure that cool water is always available.</li>
          <li>Reduce the workloads and physical demands of employees.</li>
          <li>Provide supplemental cooling, fans, or cooling garments.</li>
          <li>Ensure cool water is always available and locations for breaks have adequate, cool airflow.</li>
          <li>Monitor employees regularly for heat stress symptoms and arrange for medical assistance as needed.</li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFifteen">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFifteen"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFifteen"
        >
          Agriculture/Animal Care
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseFifteen"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFifteen"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>
            Encourage students with service animals, pets, ESAs, and students who participate in Terps Raising Pups to
            provide their animals with frequent water breaks.
          </li>
          <li>Encourage students to not leave their animals unattended in areas without air conditioning.</li>
          <li>
            Ensure farm animals, horses, and livestock are fed during cooler hours (early morning and/or evening).
          </li>
          <li>Limit exercise and grazing to early mornings and evenings.</li>
          <li>Ensure proper ventilation in the barn and other areas in which animals are kept.</li>
          <li>Monitor animals for signs of heat-related illnesses.</li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingSixteen">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseSixteen"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseSixteen"
        >
          Child Care Services
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseSixteen"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingSixteen"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>
            Email parents about proper sun protection for children, SPF should be applied 30 minutes before school, and
            children should wear cool, loose-fit clothing with a hat to shade their face.
          </li>
          <li>Constantly monitor children for signs of heat-related illness.</li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingSeventeen">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(142, 86, 139)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseSeventeen"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseSeventeen"
        >
          IT
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseSeventeen"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingSeventeen"
      >
        <div class="accordion-body" style="background-color: rgb(207, 160, 209)">
          <li>
            Ensure computer labs and other rooms with essential technology maintain a temperature of 85 degrees
            Fahrenheit. Temperatures above this threshold can lead to a reduction in equipment life expectancy of up to
            40%.
          </li>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
