{% extends "index.html" %} {% block content %}
<div class="container-fluid">
  <div class="section-title noRisk-color">
    <span>No Risk</span>
  </div>

  <div class="section-description" style="background-color: rgb(218, 240, 180)">
    <div><b>Trigger:</b> N/A</div>
    <div><b>Heat Index Range:</b> Less than 79</div>
    <div><b>Health Implications:</b> Little to no risk associated with heat</div>
  </div>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button
          class="accordion-button"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseOne"
        >
          General Guidance for Supervisors and Departments
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">
          <li>
            Download Interactive National Weather Service (iNWS) mobile application. It will send you customized text
            messages and e-mail alerts in the case of excessive heat warning, watch, advisory, and outlook.
          </li>
          <li>Download the OSHA Heat Index Mobile app for additional recommendations and monitoring.</li>
          <li>Download the OSHA-NIOSH Heat Safety Tool application to monitor heat indices.</li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseTwo"
        >
          General Guidance for Employees
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTwo"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">
          <ln
            >Sign up to receive notifications about building closures and outages by emailing workassignment-crc@umd.edu
            with the building names you are interested in.</ln
          >
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThree"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThree"
        >
          General Guidance for Students
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingThree"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">
          <ln
            >Sign up to receive notifications about building closures and outages by emailing workassignment-crc@umd.edu
            with the building names you are interested in.</ln
          >
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFour">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFour"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFour"
        >
          Administration
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFour"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">
          <li>
            Download Interactive National Weather Service (iNWS) mobile application. It will send you customized text
            messages and e-mail alerts in the case of excessive heat warning, watch, advisory, and outlook
          </li>
          <li>Download the OSHA Heat Index Mobile app for additional recommendations and monitoring.</li>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFive">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFive"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFive"
        >
          Academics
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFive"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">No action required.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingSix">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseSix"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseSix"
        >
          Health Care Services
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseSix"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingSix"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">No action required.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseSeven"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseSeven"
        >
          Facilities Management
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseSeven"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingSeven"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">No action required.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingEight">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseEight"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseEight"
        >
          Housing
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseEight"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingEight"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">No action required.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingNine">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseNine"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseNine"
        >
          Dining
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseNine"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingNine"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">No action required.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTen">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTen"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseTen"
        >
          Outdoor Workers
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseTen"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTen"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">No action required.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingEleven">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseEleven"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseEleven"
        >
          RecWell (Indoor/Outdoor Recreation)
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseEleven"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingEleven"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">No action required.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwelve">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwelve"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseTwelve"
        >
          Events (Indoor/Outdoor Events)
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseTwelve"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTweleve"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">No action required.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThirteen">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThirteen"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThirteen"
        >
          Athletics
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseThirteen"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingThirteen"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">No action required.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFourteen">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFourteen"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFourteen"
        >
          Research
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseFourteen"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFourteen"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">No action required.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFifteen">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFifteen"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFifteen"
        >
          Agriculture/Animal Care
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseFifteen"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFifteen"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">No action required.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingSixteen">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseSixteen"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseSixteen"
        >
          Child Care Services
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseSixteen"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingSixteen"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">No action required.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingSeventeen">
        <button
          class="accordion-button collapsed"
          style="background-color: rgb(102, 196, 68)"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseSeventeen"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseSeventeen"
        >
          IT
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseSeventeen"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingSeventeen"
      >
        <div class="accordion-body" style="background-color: rgb(218, 240, 180)">No action required.</div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
